# https://github.com/RafhaanShah/Docker-Files
version: "3.8"

services:
  app:
    container_name: app
    image: dev/app:latest
    build: .
    command: ["extra", "args", "to", "entrypoint"]
    restart: unless-stopped
    ports:
      - "8080:8080" # HOST_PORT:CONTAINER_PORT
    expose:
      - "8000"
    volumes:
      - ./data:/app/data
    environment:
      - VAR=VAL
      - SECRET_ENV_VAR
    depends_on:
      - db
    labels:
      - "com.example.enable=true"

networks:
  default:
    external:
      name: docker
