# https://docs.docker.com/reference/compose-file/

services:
  app:
    container_name: app
    image: dev/app:latest
    build: .
    restart: unless-stopped
    ports:
      - "8080:8080" # HOST_PORT:CONTAINER_PORT
    expose:
      - "8000"
    volumes:
      - ./data:/app/data # HOST_PATH:CONTAINER_PATH
    environment:
      - VAR=VAL
      - SECRET_ENV_VAR
    depends_on:
      - db
    labels:
      - "com.example.enable=true"

networks:
  default:
    external: true
    name: docker
