# https://github.com/VictoriaMetrics/VictoriaMetrics

services:
  victoriametrics:
    container_name: victoriametrics
    image: victoriametrics/victoria-metrics:v1.135.0
    extends:
      file: ../base.yml
      service: base
    # saves DNS logs getting clogged
    extra_hosts:
      - "opnsense.lan:192.168.1.1"
    command:
      - "--storageDataPath=/storage"
      - "--graphiteListenAddr=:2003" # Graphite plaintext format, UDP / TCP
      - "--opentsdbListenAddr=:4242" # OpenTSDB format, UDP / TCP
      - "--influxListenAddr=:8189" # InfluxDB line protocol, UDP / TCP
      - "--httpListenAddr=:8428" # HTTP / InfluxDB format, TCP
      - "--search.latencyOffset=1s" # Data becomes available 1s after ingestion
      - "--retentionPeriod=6" # Months
      - "--selfScrapeInterval=60s" # Collect internal metrics
      - "--promscrape.config=prometheus.yml" # Scrape Prometheus endpoints
    # expose directly, don't need to go through proxy
    ports:
      - "2003:2003/udp" # Proxmox: Collectd -> Graphite
      - "2003:2003/tcp"
      - "4242:4242/udp"
      - "4242:4242/tcp"
      - "8189:8189/udp" # Proxmox: InfluxDB -> InfluxDB, # OPNsense: Telegraf -> InfluxDB
      - "8189:8189/tcp"
      - "8428:8428/tcp"
      # Home Assistant: InfluxDB -> InfluxDB
      # cAdvisor: InfluxDB -> InfluxDB
    volumes:
      # - /mnt/hdd/AppData/VictoriaMetrics:/storage
      - ./data:/storage
      - ./prometheus.yml:/prometheus.yml # OPNsense: Prometheus -> node_exporter
    labels:
      # web UI at /vmui
      - "traefik.enable=true"
      - "traefik.http.services.victoriametrics-victoriametrics.loadbalancer.server.port=8428"
      - "wud.tag.include=^v\\d+\\.\\d+\\.\\d+$$"

include:
  - ../network.yml
