May  8 00:01:01 dnsmasq[507]: query[A] www.google.com from 192.168.1.10
May  8 00:01:02 dnsmasq[507]: query[AAAA] www.google.com from 192.168.1.10
May  8 00:01:03 dnsmasq[507]: forwarded www.google.com to 192.168.1.1

May  8 00:02:01 dnsmasq[507]: reply www.google.com is 8.8.8.8
May  8 00:02:02 dnsmasq[507]: reply www.google.com is NODATA-IPv6
May  8 00:02:03 dnsmasq[507]: reply www.google.com is <CNAME>
May  8 00:02:04 dnsmasq[507]: reply www.dod.teams.microsoft.us is NXDOMAIN

May  8 00:03:01 dnsmasq[507]: reply error is REFUSED
May  8 00:03:02 dnsmasq[507]: reply error is SERVFAIL
May  8 00:03:03 dnsmasq[507]: /etc/pihole/local.list some.local.domain.com is 192.168.1.1
May  8 00:03:04 dnsmasq[507]: gravity blocked some.ad.domain.com is 0.0.0.0

May  8 00:04:01 dnsmasq[507]: query[A] pi.hole from 127.0.0.1
May  8 00:04:02 dnsmasq[507]: query[PTR] 10.1.168.192.in-addr.arpa from 127.0.0.1
May  8 00:04:03 dnsmasq[507]: query[PTR] 10.1.168.192.ip6.arpa from 127.0.0.1
May  8 00:04:04 dnsmasq[507]: forwarded 10.1.168.192.in-addr.arpa to 192.168.1.1
May  8 00:04:05 dnsmasq[507]: reply 192.168.1.10 is rafs-pc.lan

May  8 00:05:01 dnsmasq[507]: started, version pi-hole-2.81 cachesize 10000
May  8 00:05:02 dnsmasq[507]: compile time options: IPv6 GNU-getopt
May  8 00:05:03 dnsmasq[507]: using only locally-known addresses for domain use-application-dns.net
May  8 00:05:04 dnsmasq[507]: using nameserver 8.8.4.4#53
May  8 00:05:05 dnsmasq[507]: read /etc/hosts - 7 addresses
May  8 00:05:06 dnsmasq[507]: failed to load names from /etc/pihole/custom.list: No such file or directory
May  8 00:05:07 dnsmasq[507]: bad address at /etc/pihole/local.list line 2
May  8 00:05:08 dnsmasq[507]: read /etc/hosts - 7 addresses
