# https://docs.docker.com/reference/compose-file/

services:
  vscode-tunnel:
    container_name: vscode-tunnel
    hostname: vscode-tunnel
    image: vscode-tunnel:1.0.0
    build: .
    extends:
      file: ../base.yml
      service: base
    stdin_open: true
    # allows referring to the host
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./.profile:${CONTAINER_HOME}/.profile
      - ${HOME}:${CONTAINER_HOME}/raf
      - ${HOME}/.ssh:${CONTAINER_HOME}/.ssh
      - ${HOME}/.wakatime:${CONTAINER_HOME}/.wakatime
      - ${HOME}/.gitconfig/.gitconfig
      # stores session and extensions and data
      # use home folder so we don't duplicate stuff
      # created by vs-code SSH connections
      - ${HOME}/.vscode-server:${CONTAINER_HOME}/.vscode
      - ${HOME}/.vscode-server:${CONTAINER_HOME}/.vscode-server
    environment:
      - SERVER_NAME=ubuntu-server
      - DOCKER_HOST=tcp://socket-proxy:2375
      - ENV=${CONTAINER_HOME}/.profile
    labels:
      - wud.watch=false

include:
  - ../network.yml
# Run once to get auth code in logs
