global:
  sendAnonymousUsage: true

log:
  level: ERROR

entryPoints:
  http:
    address: ":80"
    http:
      middlewares:
        - https-redirect@file
  https:
    address: ":443"
    http:
      middlewares:
        - ipwhitelist@file
        - domain-redirect@file
        - headers@file
      tls:
        certResolver: leresolver
        domains:
          - main: "*.base-domain.duckdns.org"

api:
  dashboard: true
  insecure: false

providers:
  providersThrottleDuration: 10s
  docker:
    exposedByDefault: false
    endpoint: "tcp://socket-proxy:2375"
    defaultRule: "HostRegexp(`{service:^{{ index .Labels \"com.docker.compose.service\" }}\\..+$}`)"
  file:
    directory: /etc/traefik/config

certificatesResolvers:
  leresolver:
    acme:
      email: someone@mail.com
      storage: /etc/traefik/acme.json
      keyType: RSA4096
      dnsChallenge:
        provider: duckdns
        delayBeforeCheck: 120
        disablePropagationCheck: true
