# https://doc.traefik.io/traefik/getting-started/configuration-overview/
# https://doc.traefik.io/traefik/reference/static-configuration/file/

global:
  sendAnonymousUsage: false

log:
  level: INFO

entryPoints:
  http:
    address: ":80"
    http:
      middlewares:
        - https-redirect@file
  https:
    address: ":443"
    http:
      middlewares:
        - ipallowlist@file
        - domain-redirect@file
        - headers@file
      tls:
        certResolver: leresolver
        domains:
          - main: "*.base-domain.duckdns.org"

api:
  dashboard: true
  insecure: false

providers:
  providersThrottleDuration: 10s
  docker:
    exposedByDefault: false
    endpoint: "tcp://socket-proxy:2375"
    # regex matches service_name followed by . followed by anything
    # e.g. container.lan or container.host.lan
    defaultRule: "HostRegexp(`{service:^{{ index .Labels \"com.docker.compose.service\" }}\\..+$}`)"
  file:
    directory: /etc/traefik/config

certificatesResolvers:
  leresolver:
    acme:
      email: someone@mail.com
      storage: /etc/traefik/acme.json
      keyType: RSA4096
      dnsChallenge:
        provider: duckdns
        propagation:
          delayBeforeChecks: 120
          disableChecks: true

# accepts self signed certificates on internal services
serversTransport:
  insecureSkipVerify: true
