http:
  middlewares:
    domain-redirect:
      redirectRegex:
        regex: "^(https?)://([A-z0-9-]+\\.)(.+)*\\.?lan/(.*)"
        replacement: "${1}://${2}xxx.duckdns.org/${4}"
        permanent: true
    https-redirect:
      redirectScheme:
        scheme: https
        permanent: true
