db:
  path: diun.db

watch:
  workers: 10
  schedule: 45 2 * * *
  firstCheckNotif: true

notif:
  telegram:
    token: 1111111111:xxxxxxxxxx
    chatIDs:
      - 1111111111

providers:
  docker:
    endpoint: tcp://socket-proxy:2375
    watchByDefault: false # Add label: diun.enable=true
