db:
  path: diun.db

watch:
  workers: 10
  schedule: 0 4 * * *
  first_check_notif: true

notif:
  telegram:
    enable: true
    token: aabbccdd:11223344
    chat_ids:
      - 123456789

providers:
  docker:
    remote:
      endpoint: tcp://socket-proxy:2375
      watch_by_default: false # Add label: diun.enable=true
