apprise:
  - tgram://xxxxxxx:xxxxxxx/123456789
  - join://apikey/group
  - pover://userKey@appToken/device?sound=none

reddit:
  client: xxxxxxx
  secret: xxxxxxx-xxxxxxx
  agent: "reddit-post-notifier (u/xxxxxx)"
    
  subreddits:
    - gamedeals:
        title:
          - 'free'
          - '100%'
