apprise:
  - tgram://xxxxxxx:xxxxxxx/123456789
  - join://apikey/group

reddit:
  client: xxxxxxx
  secret: xxxxxxx-xxxxxxx
  agent: "reddit-post-notifier (u/xxxxxx)"
    
  subreddits:
    gamedeals:
      - 'free'
      - '100%'
