# https://github.com/amir20/dozzle

services:
  dozzle:
    container_name: dozzle
    image: amir20/dozzle:v9
    extends:
      file: ../base.yml
      service: base
    # healthcheck:
    #   test: ["CMD", "/dozzle", "healthcheck"]
    expose:
      - "8080"
    command: --remote-host tcp://socket-proxy:2375
    environment:
      - DOCKER_HOST=tcp://socket-proxy:2375
    labels:
      - "traefik.enable=true"
      - "wud.tag.include=^v\\d+$$"
      - "wud.watch.digest=true"

include:
  - ../network.yml
