# https://docs.docker.com/reference/compose-file/

services:
  telegraf:
    container_name: telegraf
    image: telegraf:1.36
    extends:
      file: ../base.yml
      service: base
    # needed for ping
    # cap_add:
    #   - net_admin
    # noisy spam when PC is offline
    logging:
      driver: none
    volumes:
      - ./telegraf.conf:/etc/telegraf/telegraf.conf:ro
    labels:
      - "wud.tag.include=^\\d+\\.\\d+$$"

include:
  - ../network.yml
